*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.main{
    display: grid;
    grid-template-columns: repeat(1fr,500px);
    grid-template-rows: 200px;
    grid-template-areas: 
    "box1 box1 box1"
    "box2 box2 box2";
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.box1{
    background-color: aquamarine;
}
.box2{
    background-color: blueviolet;
}
.box2:hover,
.box2:active{
    cursor: pointer;
    transform: scale(1.1);
    background-color: brown;

}
.box1 h1{
    display: flex;
    justify-content: center;
}
.box1:hover,
.box1:active{
    background-color: rgb(13, 160, 55);
    cursor: pointer;
    transform: scale(1.1);

}