*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(49, 119, 180);
}
.box{
    display: grid;
    grid-template-columns:repeat(4 2fr) ;
    grid-template-rows:400px 500px 500px 500px;
    grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6"
    "box7 box7 box8";
    margin: 20px;
    gap: 20px;
}
.box1{
    grid-area: box1;
    background-color: beige;
}
.box2{
    grid-area: 2;
    background-color: beige;
}
.box3{
    grid-area: 3;
    background-color: beige;
}
.box4{
    grid-area: box4;
    background-color: beige;
}
.box5{
    grid-area: box5;
    background-color: beige;
}
.box6{
    grid-area: box6;
    background-color: beige;
}
.box7{
    grid-area: 7;
    background-color: beige;
}
.box8{
    grid-area: box8;
    background-color: beige;
}
header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: aliceblue;
    font-size:larger;
}
header{
    background-color: rgb(91, 157, 157);
    height: 100px;
    display: flex;
    justify-content: center;margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

}
header li:hover{
    color:blue;
    cursor: pointer;

}