.parent{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:300px 300px;
    height: 100vh;
    gap: 20px;
    /*row-gap: 30px;*/
   /* column-gap: 30px;*/
   /*align-items: center;*/
   /*margin-top: 100px;*/
   /*justify-items:start;*/
   /*justify-items: end;*/
   /*justify-items: center;*/
   /*justify-items: stretch;*/



}
.parent div:nth-child(even){
    background-color: aqua;
}
.parent div:nth-child(odd){
    background-color: rgb(220, 180, 17);
}
/*.parent div{
    align-items: center;
}*/
.child1{
    grid-column-start: 1;
    grid-column-end: 3;
    /*grid-row-start: 1;
    grid-row-end: 3;*/

}