body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding:20px;
}
.container{
    width: 1000px;
    background-color: rgb(243, 244, 244);
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;
}
.title{
    text-align:center;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid-3 div{
    display: flex;
    flex-direction: column;
}
span{
    color: red;
}
label{
    margin-bottom: 5px;
}
.add-btn{
    background-color: #14a5d6;
    border: none;
    width: 50px;
    color: white;
    border-radius: 3px;
}
.add-btn:hover{
    background-color: #c5b8b4;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.submit-btn{
    background-color: #28a745;
    border: none;
    width: 100px;
    color: white;    border-radius: 3px;
}
.reset-btn{
    background-color: #dc3545;
    border: none;
    width: 100px;
    color: white;    border-radius: 3px;

}
.submit-btn:hover{
    background-color: #579a65;
}
.reset-btn:hover{
    background-color: #7b5357;
}